header {
    height: 150px;
    padding: 1px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #000080;
    background-image: url("../images/itrans_logo.svg");
    background-repeat: no-repeat;
    background-position: right center;
}

header h1 {
    height: 100%;
    text-align: center;
    line-height: 50%;
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav {
    height: 50px;
    padding: 1px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #D3D3D3;
}

nav ul {
    height: 100%;
    text-align: center;
    line-height: 50%;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    height: 100%;
    width: 150px;
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000080;
}

nav ul li a:hover {
    background-color: #A9A9A9;
    color: #8B0000;
}

main {
    padding: 1px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #4169E1;
}

main article {
    margin: 20px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main article a:link {
    color: yellow;
    text-decoration: none;
}

main article a:visited {
    color: yellow;
}

main article a:hover {
    background-color: #000080;
    color: yellow;
} 

footer {
    height: 50px;
    padding: 1px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #D3D3D3;
}

footer p {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000080;
}

.user_form {
	width: 40%;
	margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
	color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
	border: 2px solid white;
	padding: 20px;
}

.input {
	margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid gray;
}

.button {
    width: 100px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    background-color: #FEDF00;
	padding: 10px 10px;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid gray;
}

.question {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.error {
    background-color: red;
}

.profile_info {
	width: 40%;
	margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    color: white;
    font-size: 25px;
	text-align: center;
	border: 2px solid white;
	padding: 20px;
}

/* table {
    color: white;
    font-size: 25px;
	text-align: center;
	border: 2px solid yellow;
} */

table {
    border-collapse: collapse;
    width: 70%;
  }

table, th, td {
    border: 2px solid white;
    height: 50px;
    text-align: center;
    vertical-align: center;
    padding: 5px;
  }

 /* table td a:link {
    color: yellow;
    text-decoration: none;
}

table td a:visited {
    color: yellow;
} */